*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
  background-color: black;
}

body{
  width:90vw;
  height: 100vh;
  margin:auto;
  max-width: 1200px;
  min-width: 643px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}